<%= form_with model: [@user, @post, @comment], url: user_post_comments_path(@user, @post), local: true do |f| %>
  <div>
    <%= f.label :Comment %>
    <%= f.text_area :text %>
  </div>

  <div>
    <%= f.submit 'Create Comment' %>
  </div>
<% end %>
