<div class="flex flex-col my-5 gap-5">
  <% @users.each do |user| %>
    <figure class="m-0 flex gap-5">
      <%=
        image_tag(
          user.photo.presence || 'placeholder.png',
          alt: "#{user.name}'s photo",
          class: 'w-16 h-16 rounded-full m-0 border border-black border-solid',
        )
      %>
      <figcaption
        class="m-0  flex items-center justify-between border border-black border-solid flex-grow"
      >
        <%= link_to user, class: 'no-underline m-0' do %>
          <h2 class="m-0"><%= user.name %></h2>
        <% end %>
        <p class="m-0 self-end">Number of posts: <%= user.posts_counter %></p>
      </figcaption>
    </figure>
  <% end %>
</div>
