<main class="main">
  <div class="users">
    <% @users.each do |user| %>
      <figure class="user-card">
        <%= link_to user, class: 'user-card__link' do %>
          <div class="user-card__img-wrapper">
            <%= image_tag(user.photo, alt: "#{user.name}'s photo", class: 'user-card__img') %>
          </div>
          <figcaption class="user-card__content">
            <h2 class="user-card__name"><%= user.name %></h2>
            <p class="user-card__posts">
              Number of posts: <%= user.posts_counter %>
            </p>
          </figcaption>
        <% end %>
      </figure>
    <% end %>
  </div>
</main>
